.card {
    // background-color: transparent;
    // border-style: none;
    // border-color: transparent;
    margin: auto;

}

#charities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

#charities-list {

  padding-top: 50px;
  margin: auto;
  //  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  //  -moz-column-count: 3; /* Firefox */
  //  column-count: 3;
  //  color: red;
  //  border-style: none;
  //  border-color: transparent;
   }

#charity_name {
  font-size: 20px;

}

.charity-item {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  // font-weight: bolder;
  font-style: oblique;

}

a:link {
  color: white;
}

a:visited, a:hover {
  color: #e58f4e;
}

#charity_button {
@include button(#a8551e);
}
