.user-forms {
  max-width: 50em;
  text-align: center;
  @include media(50em) {
    text-align: left;
  color: white;
  padding-top: 75px;
  }
  background: none;
  font-color: white;
  margin: auto;
  font-size: 1.2em

}

.user-forms form{
  width: 80%;
  margin: auto;
  padding: 2em;
}

#user-forms-h1 {
  margin: auto;
  font-size: 30px;
}

.user-forms-btn {
  @include button(shiny, #e0ebeb);
}

.reg-link {
  color: white;
}