.login {
  max-width: 50em;
  text-align: center;
  @include media(50em) {
    text-align: left;
  color: white;
  padding-top: 75px;
  }
  background: none;
  font-color: white;
  margin: auto;

}

.login form{
  width: 80%;
  margin: auto;
  padding-bottom: 2em;
}

h1 {
  margin: auto;
}