@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

body {
  background-image: url("coins-912278_1920.jpg"); }

#logo-title {
  margin: auto;
  text-align: center;
  padding: 55px; }

.title {
  margin: auto;
  font-family: 'pokey';
  border-radius: 5px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  animation-name: dropHeader;
  animation: dropHeader linear 1.7s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%; }

@keyframes dropHeader {
  0% {
    opacity: 0;
    transform: rotateY(-200deg); }
  100% {
    opacity: 1;
    transform: rotateY(0deg); } }
.box-title {
  font-family: 'ormont'; }

.how-to {
  text-align: left;
  font-size: 1.1em; }

.flex-box {
  font-size: 1.1em; }

.flex-boxes {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .flex-boxes::after {
    clear: both;
    content: "";
    display: block; }
  .flex-boxes .flex-box {
    text-size: 1.2em;
    align-self: stretch;
    background: #e6e6e6;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e6e6;
    display: block;
    flex: 2 2 15em;
    margin: 1.1em;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }
    .flex-boxes .flex-box:nth-child(1) {
      border-top: 6px solid #F6C05C; }
      .flex-boxes .flex-box:nth-child(1):focus, .flex-boxes .flex-box:nth-child(1):hover {
        background-color: rgba(246, 192, 92, 0.92); }
      .flex-boxes .flex-box:nth-child(1):hover > * {
        color: black; }
    .flex-boxes .flex-box:nth-child(2) {
      border-top: 6px solid #72BFBF; }
      .flex-boxes .flex-box:nth-child(2):focus, .flex-boxes .flex-box:nth-child(2):hover {
        background-color: rgba(114, 191, 191, 0.92); }
      .flex-boxes .flex-box:nth-child(2):hover > * {
        color: black; }
    .flex-boxes .flex-box:nth-child(3) {
      border-top: 6px solid #92B1E3; }
      .flex-boxes .flex-box:nth-child(3):focus, .flex-boxes .flex-box:nth-child(3):hover {
        background-color: rgba(146, 177, 227, 0.92); }
      .flex-boxes .flex-box:nth-child(3):hover > * {
        color: black; }
    .flex-boxes .flex-box:nth-child(4) {
      border-top: 6px solid tomato; }
      .flex-boxes .flex-box:nth-child(4):focus, .flex-boxes .flex-box:nth-child(4):hover {
        background-color: rgba(255, 99, 71, 0.92); }
      .flex-boxes .flex-box:nth-child(4):hover > * {
        color: black; }
    .flex-boxes .flex-box:nth-child(5) {
      border-top: 6px solid #E3D743; }
      .flex-boxes .flex-box:nth-child(5):focus, .flex-boxes .flex-box:nth-child(5):hover {
        background-color: rgba(227, 215, 67, 0.92); }
      .flex-boxes .flex-box:nth-child(5):hover > * {
        color: black; }
    .flex-boxes .flex-box:nth-child(6) {
      border-top: 6px solid tomato; }
      .flex-boxes .flex-box:nth-child(6):focus, .flex-boxes .flex-box:nth-child(6):hover {
        background-color: rgba(255, 99, 71, 0.92); }
      .flex-boxes .flex-box:nth-child(6):hover > * {
        color: black; }
    .flex-boxes .flex-box img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4; }
    .flex-boxes .flex-box .flex-title {
      color: rgba(51, 51, 51, 0.7);
      font-size: 1.5em;
      margin-bottom: 0.5em; }
    .flex-boxes .flex-box p {
      color: rgba(51, 51, 51, 0.6);
      line-height: 1.5em;
      font-family: 'titillium';
      margin: auto; }
  .flex-boxes .flex-box-big {
    flex: 1 1 40em; }

ul.top-five {
  list-style-type: none; }

.query-show {
  background-color: white;
  padding: 1em; }
  .query-show:hover {
    background-color: #e6e6e6; }

header.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 900px) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 900px) {
      header.navigation nav {
        float: left; } }
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 900px) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-left: 0.8em;
    font-family: 'Vonique';
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 900px) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      text-decoration: none; }
      @media screen and (min-width: 900px) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 900px) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(255, 255, 255, 0.7);
      content: "\25BE"; }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 900px) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 900px) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    @media screen and (min-width: 900px) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 900px) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 900px) {
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px; }
    @media screen and (min-width: 900px) {
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }
  header.navigation .search-bar {
    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%; }
    header.navigation .search-bar form {
      position: relative; }
      header.navigation .search-bar form input[type=search] {
        background: #404040;
        border: 1px solid #262626;
        border-radius: 6px;
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%; }
        @media screen and (min-width: 900px) {
          header.navigation .search-bar form input[type=search] {
            width: 100%; } }
      header.navigation .search-bar form button[type=submit] {
        background: #404040;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em; }
        header.navigation .search-bar form button[type=submit] img {
          height: 12px;
          opacity: 0.7;
          padding: 1px; }
    @media screen and (min-width: 900px) {
      header.navigation .search-bar {
        display: inline-block;
        position: relative;
        width: 18em;
        margin-right: 3em;
        margin-top: -3px; }
        header.navigation .search-bar input {
          box-sizing: border-box;
          display: block; } }

.search-form {
  border: 1px solid #3371b2;
  border-color: #3371b2 #2457a3 #164297;
  border-radius: 16px;
  box-shadow: inset 0 1px 0 0 #64a9f2;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  background-color: #4294f0;
  background-image: -webkit-linear-gradient(#4294f0, #0156fe);
  background-image: linear-gradient(#4294f0, #0156fe);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #2762bf;
  background-clip: padding-box;
  position: inline;
  float: right; }
  .search-form:hover:not(:disabled) {
    background-color: #2d88ee;
    background-image: -webkit-linear-gradient(#2d88ee, #1554ce);
    background-image: linear-gradient(#2d88ee, #1554ce);
    background-clip: padding-box;
    border: 1px solid #2062a7;
    border-color: #2062a7 #0e479a #01318e;
    box-shadow: inset 0 1px 0 0 #519cf0;
    cursor: pointer;
    text-shadow: 0 -1px 1px #134faf; }
  .search-form:active:not(:disabled), .search-form:focus:not(:disabled) {
    background: #226edd;
    border: 1px solid #0d3c8c;
    border-bottom: 1px solid #062d8d;
    box-shadow: inset 0 0 6px 3px #0c44b8;
    text-shadow: 0 -1px 1px #1a52aa; }
  .search-form:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  padding-top: 20px; }

.card {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 1em 1.5em 1em;
  position: relative;
  transition: all 0.2s ease-in-out;
  text-align: center; }
  .card .card-image {
    background-color: #F8F2B4;
    height: 150px;
    max-height: 150px;
    overflow: hidden; }
    .card .card-image img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%; }
  .card .card-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    transition: all 0.2s ease-in-out; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em; }
    .card .card-copy p {
      margin: 0 0 0.75em; }
  .card:focus, .card:hover {
    cursor: pointer; }
    .card:focus img, .card:hover img {
      opacity: 0.7; }
  .card:active {
    background-color: #f7f7f7; }
    .card:active .card-header {
      background-color: #f7f7f7; }
  .card #charity_button {
    background-color: #e0ebeb;
    background-image: -webkit-linear-gradient(top, #e0ebeb 0%, #a8b9ca 50%, #8aa0bb 50%, #91a5bd 100%);
    background-image: linear-gradient(to bottom,#e0ebeb 0%, #a8b9ca 50%, #8aa0bb 50%, #91a5bd 100%);
    border: 1px solid #6b7c9a;
    border-bottom: 1px solid #626c71;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 #fffff7;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #ebf5f5; }
    .card #charity_button:hover:not(:disabled) {
      background-color: #d3dcd9;
      background-image: -webkit-linear-gradient(top, #d3dcd9 0%, #9eadb8 50%, #8396a9 50%, #8a9bac 100%);
      background-image: linear-gradient(to bottom,#d3dcd9 0%, #9eadb8 50%, #8396a9 50%, #8a9bac 100%);
      cursor: pointer; }
    .card #charity_button:active:not(:disabled), .card #charity_button:focus:not(:disabled) {
      box-shadow: inset 0 0 20px 0 #717771; }
    .card #charity_button:disabled {
      cursor: not-allowed;
      opacity: 0.5; }

#guidestar {
  color: #706e6d; }

#guidestar:hover {
  color: #e58f4e; }

#welcome {
  text-align: center;
  margin: 1.3em;
  padding: .5em;
  background: #e6e6e6;
  font-family: 'ormont';
  border-radius: 5px; }

.edit-user {
  text-align: center;
  margin: auto; }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.card {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 1em 1.5em 1em;
  position: relative;
  transition: all 0.2s ease-in-out; }
  .card .card-image {
    background-color: #F8F2B4;
    height: 150px;
    max-height: 150px;
    overflow: hidden; }
    .card .card-image img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%; }
  .card .card-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    transition: all 0.2s ease-in-out; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em; }
    .card .card-copy p {
      margin: 0 0 0.75em; }
  .card:focus, .card:hover {
    cursor: pointer; }
    .card:focus img, .card:hover img {
      opacity: 0.7; }
  .card:active {
    background-color: #f7f7f7; }
    .card:active .card-header {
      background-color: #f7f7f7; }

.card-text {
  font-family: 'titillium';
  text-align: center; }

.charity-search-form {
  width: 90%;
  margin: auto; }

.search-in-user {
  text-align: center; }

.donation-history-button {
  text-align: center;
  margin: auto; }

.style-btn {
  border: 1px solid #71350d;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #d27b41;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #a8551e;
  background-image: -webkit-linear-gradient(#a8551e, #7f3c0f);
  background-image: linear-gradient(#a8551e, #7f3c0f);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #622c08;
  background-clip: padding-box; }
  .style-btn:hover:not(:disabled) {
    background-color: #8f4b1e;
    background-image: -webkit-linear-gradient(#8f4b1e, #70350e);
    background-image: linear-gradient(#8f4b1e, #70350e);
    box-shadow: inset 0 1px 0 0 #b6622a;
    cursor: pointer; }
  .style-btn:active:not(:disabled), .style-btn:focus:not(:disabled) {
    border: 1px solid #71350d;
    box-shadow: inset 0 0 8px 4px #622f0d, inset 0 0 8px 4px #622f0d; }
  .style-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

#user-bucket {
  position: relative; }

.user-bucket-img {
  position: relative;
  float: left;
  width: 100%; }

#bucket-text {
  position: absolute;
  max-width: 100%;
  color: #a8551e;
  font-weight: bolder;
  font-size: 3em;
  text-align: center; }

.user-forms {
  max-width: 50em;
  text-align: center;
  background: none;
  font-color: white;
  margin: auto; }
  @media screen and (min-width: 50em) {
    .user-forms {
      text-align: left;
      color: white;
      padding-top: 75px; } }

.user-forms form {
  width: 80%;
  margin: auto;
  padding: 2em; }

#user-forms-h1 {
  margin: auto;
  font-size: 30px; }

.user-forms-btn {
  background-color: #e0ebeb;
  background-image: -webkit-linear-gradient(top, #e0ebeb 0%, #a8b9ca 50%, #8aa0bb 50%, #91a5bd 100%);
  background-image: linear-gradient(to bottom,#e0ebeb 0%, #a8b9ca 50%, #8aa0bb 50%, #91a5bd 100%);
  border: 1px solid #6b7c9a;
  border-bottom: 1px solid #626c71;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #fffff7;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #ebf5f5; }
  .user-forms-btn:hover:not(:disabled) {
    background-color: #d3dcd9;
    background-image: -webkit-linear-gradient(top, #d3dcd9 0%, #9eadb8 50%, #8396a9 50%, #8a9bac 100%);
    background-image: linear-gradient(to bottom,#d3dcd9 0%, #9eadb8 50%, #8396a9 50%, #8a9bac 100%);
    cursor: pointer; }
  .user-forms-btn:active:not(:disabled), .user-forms-btn:focus:not(:disabled) {
    box-shadow: inset 0 0 20px 0 #717771; }
  .user-forms-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.reg-link {
  color: white; }

.vertical-tabs-container {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1.5em;
  overflow: hidden;
  margin: 2em;
  margin-top: 4em;
  font-family: "titillium";
  font-size: 1.2em; }
  .vertical-tabs-container::after {
    clear: both;
    content: "";
    display: block; }
  .vertical-tabs-container li {
    padding: 0.5em;
    margin-left: 1.3em;
    margin-right: 1.3em; }
  .vertical-tabs-container .steps li {
    list-style-type: decimal; }
  .vertical-tabs-container a {
    color: #1565c0;
    text-decoration: none; }
  .vertical-tabs-container .vertical-tabs {
    display: none; }
    @media screen and (min-width: 600px) {
      .vertical-tabs-container .vertical-tabs {
        background-color: #fff;
        display: inline;
        float: left;
        height: 31.25em;
        width: 20%; } }
  @media screen and (min-width: 600px) {
    .vertical-tabs-container .vertical-tab {
      border-bottom: 1px solid #ddd;
      display: block;
      font-weight: bold;
      margin-right: -1px;
      padding: 0.75em 0.809em; }
      .vertical-tabs-container .vertical-tab.is-active {
        background-color: #f7f7f7;
        margin-right: -1px; } }
  .vertical-tabs-container a.vertical-tab-accordion-heading,
  .vertical-tabs-container a.vertical-tab {
    color: #333; }
  .vertical-tabs-container .vertical-tab:focus {
    outline: none; }
  .vertical-tabs-container .vertical-tab-content-container {
    display: block;
    margin: 0 auto; }
    .vertical-tabs-container .vertical-tab-content-container a:focus {
      outline: none; }
    @media screen and (min-width: 600px) {
      .vertical-tabs-container .vertical-tab-content-container {
        height: 31.25em;
        width: 80%;
        background-color: #f7f7f7;
        display: inline-block; } }
  .vertical-tabs-container .vertical-tab-content {
    background-color: #f7f7f7;
    padding: 1.5em 1.618em; }
    .vertical-tabs-container .vertical-tab-content p {
      color: #333;
      line-height: 1.5; }
    @media screen and (min-width: 600px) {
      .vertical-tabs-container .vertical-tab-content {
        border: 0;
        display: none; } }
  .vertical-tabs-container .vertical-tab-accordion-heading {
    background-color: #fff;
    border-top: 1px solid #ddd;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 0.75em 0.809em; }
    .vertical-tabs-container .vertical-tab-accordion-heading:focus, .vertical-tabs-container .vertical-tab-accordion-heading:hover {
      color: #1565c0; }
    .vertical-tabs-container .vertical-tab-accordion-heading:first-child {
      border-top: 0; }
    .vertical-tabs-container .vertical-tab-accordion-heading.is-active {
      background: #f7f7f7;
      border-bottom: 0; }
    @media screen and (min-width: 600px) {
      .vertical-tabs-container .vertical-tab-accordion-heading {
        display: none; } }

.position {
  font-size: 10px;
  display: inline; }

.donation-history {
  color: #a8551e;
  text-align: center;
  margin: auto;
  width: 80%; }

.donation-title {
  color: #e0ebeb;
  margin-top: 50px;
  font-size: 50px; }

.donation-outer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .donation-outer::after {
    clear: both;
    content: "";
    display: block; }

.donation-columns {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  background-color: #e0ebeb;
  border: 1px, solid, #e0ebeb;
  padding: 5px;
  margin: 5px;
  border-radius: 5px; }
  .donation-columns:last-child {
    margin-right: 0; }

#no-donations {
  padding-top: 25px;
  font-size: 2em;
  color: #e0ebeb;
  text-shadow: 3px 3px black; }

.outer-charities {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px; }
  .outer-charities::after {
    clear: both;
    content: "";
    display: block; }

.charity-li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin: 10px;
  border: 1px, solid, black;
  border-radius: 5px;
  text-align: center;
  background: #e0ebeb; }
  .charity-li:last-child {
    margin-right: 0; }

#charity_name {
  font-size: 20px; }

a:link {
  color: #a8551e; }

a:hover, a:visited {
  color: black; }

#charity_button {
  border: 1px solid #71350d;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #d27b41;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #a8551e;
  background-image: -webkit-linear-gradient(#a8551e, #7f3c0f);
  background-image: linear-gradient(#a8551e, #7f3c0f);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #622c08;
  background-clip: padding-box;
  font-size: 13px; }
  #charity_button:hover:not(:disabled) {
    background-color: #8f4b1e;
    background-image: -webkit-linear-gradient(#8f4b1e, #70350e);
    background-image: linear-gradient(#8f4b1e, #70350e);
    box-shadow: inset 0 1px 0 0 #b6622a;
    cursor: pointer; }
  #charity_button:active:not(:disabled), #charity_button:focus:not(:disabled) {
    border: 1px solid #71350d;
    box-shadow: inset 0 0 8px 4px #622f0d, inset 0 0 8px 4px #622f0d; }
  #charity_button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

#search-help-text {
  padding-top: 25px;
  font-size: 2em;
  color: #e0ebeb; }

@font-face {
  font-family: 'Vonique';
  src: url("/assets/Vonique 64.ttf"); }
@font-face {
  font-family: 'ormont';
  src: url("/assets/Ormont_Light.ttf"); }
@font-face {
  font-family: 'titillium';
  src: url("/assets/TitilliumWeb-Light.ttf"); }
@font-face {
  font-family: 'pokey';
  src: url("/assets/DJB Pokey Dots.ttf"); }

/*# sourceMappingURL=app.css.map */
