<section class='donation-history'>
  <h1 class='donation-title'>Donation History</h1>
  <% if @donations == [] %>
    It looks like you have not made a donation yet! Donations are processed at the end of the month, so come back on <%= Date.today.at_end_of_month.strftime('%x')%> to see your donations here.
  <% else %>
    <div class='dontation-outer'><ul>
      <% @donations.each do |donation| %>
        <span class='donation-columns'>
          <li>Charity: <%= get_charity_name(donation.current_charity_ein) %></li>
          <li>Amount: $<%= '%.2f' % donation.amount %></li>
          <li>Date: <%= donation.updated_at.strftime('%x') %></li><br>
        </span>
      <% end %>
    </ul></div>
  <% end %>
</section>