@font-face {
  font-family: 'CircleCaps';
  src: url('/assets/CircleCaps.ttf') format('truetype');
}

@font-face {
  font-family: 'ChangeOfHeart';
  src: url('/assets/ChangeOfHeart.ttf')
}

@font-face {
  font-family: 'WhereMyKeys';
  src: url('/assets/Where My Keys 2.otf')
}

@font-face {
  font-family: 'Money';
  src: url('/assets/Money Money.ttf')
}

@font-face {
  font-family: 'bowl';
  src: url('/assets/bowl.ttf')
}

@font-face {
  font-family: 'PokeyDots';
  src: url('/assets/PokeyDots.ttf')
}

@font-face {
  font-family: 'TypeKeys';
  src: url('/assets/TypeKeys.ttf')
}
