<div class="vertical-tabs-container">
  <div class="vertical-tabs">
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">spareChange</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">How It Works</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">Who We Are</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">FAQ</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab5">Contact Us</a>
  </div>

  <div class="vertical-tab-content-container">
    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">spareChange</a>
    <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
    <h4>About the Site:</h4>
      <blockquote>spareChange is a web app to help you donate to charity without any effort! Once you login, and choose which account to connect, we round your transactions up to the nearest dollar and donate that money to a charity of your choosing! For instance, if you make a purchase of $2.70 then $0.30 will be going to charity! Making a difference in the world is as easy as a trip tor your favorite coffee shop.</blockquote>  
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">How It Works</a>
    <div id="tab2" class="js-vertical-tab-content vertical-tab-content steps">
    <h4 clas='tab-headers'>How It Works:</h4>
      <ol>
      <li>First you <a href="/users/new">create an account</a> with us, using your first name, last name and email address</li>
      <li>Using our secure bank login provided by PLAID and your financial institution, you authorize us to round up each of your transactions from an account of your choosing</li>
      <li>Utilizing our search&mdash;powered by <a href="http://orghunter.com/">OrgHunter</a>&mdash;you choose from over 2 million charities in the United States</li>
      <li>Throughout the month, we round up the transactions you make and ear-mark that amount for the charity that you've chosen</li>
      <li>At the end of the month, we debit that amount from your securely authorized account and, in partnership with <a href="http://makemydonation.org/">MakeMyDonation</a>, we send the donation amount to your charity</li>
      <li>On the first of the month, your 'round-ups' reset and you start earning donations all over again!</li>
      </ol>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">Who We Are</a>
    <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
      <h4>Our Team:</h4>
      <ul>
        <li><a href="https://github.com/DanDobrick">Dan Dobrick</a></li>
        <li><a href="https://github.com/hkang10">Audrey Kang</a></li>
        <li><a href="https://github.com/jakefishbain">Jake Fishbain</a></li>
        <li><a href="https://github.com/cypweisman">Cy Weisman</a></li>
      </ul>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">FAQ</a>
    <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
    <h4>Frequently Asked Questions:</h4>
      <blockquote>
        Question: Can I limit my <br>
        tax receipt<br>
        What information we store<br>
      </blockquote>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab5">Contact Us</a>
    <div id="tab5" class="js-vertical-tab-content vertical-tab-content">
    <h4>Contact Info:</h4>
    <p>
    Email: <a href="mailto:sparechange@gmail.com?Subject=spareChange" target="_top">sparechange@gmail.com</a>
    </p>
    <p>Address: Couches in front of the blue wall in the phase three area<br>(We really need names for the new space)</p>

    </div>
  </div>
</div>
