<div class="vertical-tabs-container">
  <div class="vertical-tabs">
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">spareChange</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">How It Works</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">Who We Are</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">FAQ</a>
  </div>

  <div class="vertical-tab-content-container">
    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">spareChange</a>
    <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
      <blockquote>spareChange is a web app to help you donate to charity without any effort! Once you login, and choose which account to connect, we round your transactions up to the nearest dollar and donate that money to a charity of your choosing! If you make a purchase of $3.70, then $0.30 will be going to charity! Making a difference in the world is as easy as a trip tor your favorite coffee shop.</blockquote>  
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">How It Works</a>
    <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
      <ol>
      <li>First you <a href="/users/new">create an account</a> with us, using your first name, last name and email address</li>
      <li>Using our secure bank login provided by PLAID and your financial institution, you authorize us to round up each of your transactions from an account of your choosing</li>
      <li>Utilizing our search&mdash;powered by <a href="http://orghunter.com/">OrgHunter</a>&mdash;you choose from over 2 million charities in the United States</li>
      <li>Throughout the month, we round up the transactions you make and ear-mark that amount for the charity that you've chosen</li>
      <li>At the end of the month, we debit that amount from your securely authorized account and, in partnership with <a href="http://makemydonation.org/">MakeMyDonation</a>, we send the donation amount to your charity</li>
      <li>On the first of the month, your 'round-ups' reset and you start earning donations all over again!</li>
      </ol>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">Who We Are</a>
    <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
      <p>Dan, Cy, Audrey, Jake</p>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">FAQ</a>
    <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
      <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
    </div>
  </div>
</div>
