<div class="vertical-tabs-container">
  <div class="vertical-tabs">
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">spareChange</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">How It Works</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">Who We Are</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">FAQ</a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab5">Contact Us</a>
  </div>

  <div class="vertical-tab-content-container">
    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">spareChange</a>
    <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
    <h4>About the Site:</h4>
      <blockquote>spareChange is a web app to help you donate to charity without any effort! Once you login, and choose which account to connect, we round your transactions up to the nearest dollar and donate that money to a charity of your choosing! For instance, if you make a purchase of $2.70 then $0.30 will be going to charity! Making a difference in the world is as easy as a trip tor your favorite coffee shop.</blockquote>  
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">How It Works</a>
    <div id="tab2" class="js-vertical-tab-content vertical-tab-content steps">
    <h4 clas='tab-headers'>How It Works:</h4>
      <ol>
      <li>First you <a href="/users/new">create an account</a> with us, using your first name, last name and email address</li>
      <li>Using our secure bank login provided by PLAID and your financial institution, you authorize us to round up each of your transactions from an account of your choosing</li>
      <li>Utilizing our search&mdash;powered by <a href="http://orghunter.com/">OrgHunter</a>&mdash;you choose from over 2 million charities in the United States</li>
      <li>Throughout the month, we round up the transactions you make and ear-mark that amount for the charity that you've chosen</li>
      <li>At the end of the month, we debit that amount from your securely authorized account and, in partnership with <a href="http://makemydonation.org/">MakeMyDonation</a>, we send the donation amount to your charity</li>
      <li>On the first of the month, your 'round-ups' reset and you start earning donations all over again!</li>
      </ol>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">Who We Are</a>
    <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
      <h4>Our Team:</h4>
      <ul>
        <li><a href="https://github.com/DanDobrick">Dan Dobrick</a>&nbsp;&nbsp;&nbsp;<p class='position'>Co-Founder</p><Br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dan struggles with spelling and sends his spare change to <a href="/charities/270729804">Skateistan</a>.</li>
        <li><a href="https://github.com/hkang10">Audrey Kang</a>&nbsp;&nbsp;&nbsp;<p class='position'>Co-Founder</p><Br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Audrey goes by Aubrey and sends her spare change to <a href="/charities/731710135">Liberty in North Korea</a>.</li> 
        <li><a href="https://github.com/jakefishbain">Jake Fishbain</a>&nbsp;&nbsp;&nbsp;<p class='position'>Co-Founder</p><Br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Each one of Jake's candy purchases helps him send spare change to <a href="/charities/362922811">Special Olympics Illinois</a>.</li>
        <li><a href="https://github.com/cypweisman">Cy Weisman</a>&nbsp;&nbsp;&nbsp;<p class='position'>Co-Founder</p><Br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cy is both classy AND cute and sends her spare change to: ENTER CHARITY HERE</li>
      </ul>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">FAQ</a>
    <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
    <h4>Frequently Asked Questions:</h4>
      <blockquote>
        <p><strong>Question:</strong> Can I set a limit on my donations for the month?<br>
        <strong>Answer:</strong> YES! Just visit your user profile, click on "edit info" and enter a new "Max donation. If you ever want to change or remove your donation limit, just visit this page again.</p><br>
        <p>
        <strong>Question:</strong> Does spareChange provide tax receipts for donations?<br>
        <strong>Answer:</strong> YES! You will receive a receipt in your email which has all the information you need for tax deductions.
        </p><br>
        <p>
        <strong>Question:</strong> What personal information do you store?<br>
        <strong>Answer:</strong> When you connect a bank account, we receive an encrypted token which allows us to query the amount of each transaction. We store that token, an encrypted token representing your account choice, encrypted tokens that represent your transactions and a customer ID for processing your donations. All of this information is stored on the server side and is inaccessible on the front end.</p>
      </blockquote>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab5">Contact Us</a>
    <div id="tab5" class="js-vertical-tab-content vertical-tab-content">
    <h4>Contact Info:</h4>
    <p>
      <a href="mailto:sparechangecharities@gmail.com?Subject=spareChange" target="_top">Contact Us!</a>
    </p>
    <p>Address: Couches in front of the blue wall in the phase three area<br>(We really need names for the new space)</p>

    </div>
  </div>
</div>
