<h1>spareChange</h1>

<blockquote>
  Here at spareChange, we are dedicated to making a difference one cent at a time
</blockquote>

<% if !current_user %>
  <%= link_to 'Join Now!', new_user_path %>
<% end %>

<h2>Top 5 Charities for <%= Date::MONTHNAMES[Date.today.month] %></h2>
<ol>
  <% @top_five.each do |charity| %>
    <li><%= charity.titleize %></li>
  <% end %>
</ol>
